Repository robinmordasiewicz/nginx-container: changes, and which Jenkins stages are due for each by the changed paths.
All: html changeset, Jenkinsfile changeset, VERSION changeset, Increment VERSION, Commit new VERSION

Path conditions:
  html changeset: any of: html/*
  Jenkinsfile changeset: any of: Jenkinsfile
  VERSION changeset: any of: VERSION
  Increment VERSION: (((any of: Dockerfile) or (any of: html/*)) or (any of: html/**)) and (not (any of: VERSION))
  Commit new VERSION: (((any of: Dockerfile) or (any of: html/*)) or (any of: html/**)) and (not (any of: VERSION))

Sat May 28 18:15:00 UTC 2022
  html/index.html
  html/lab-access/index.html
  html/objects.inv
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.23.8
  VERSION
Due: VERSION changeset

Sat May 28 18:18:30 UTC 2022
  html/index.html
  html/lab-access/index.html
  html/objects.inv
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.23.9
  VERSION
Due: VERSION changeset

Sat May 28 18:22:20 UTC 2022
  html/index.html
  html/lab-access/index.html
  html/objects.inv
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.24.0
  VERSION
Due: VERSION changeset

Sat May 28 19:01:38 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.24.1
  VERSION
Due: VERSION changeset

Sat May 28 19:13:51 UTC 2022
  html/_static/css/custom.css
  html/_static/fast_track_5G_hero_950x534.png
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_hd.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_lg.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_md.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_sm.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_xl.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_xs.jpg
Due: Increment VERSION, Commit new VERSION

0.24.2
  VERSION
Due: VERSION changeset

updating intro
  Jenkinsfile
Due: Jenkinsfile changeset

0.24.3
  VERSION
Due: VERSION changeset

Sat May 28 19:25:04 UTC 2022
  html/index.html
  html/lab-access/index.html
  html/objects.inv
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.24.4
  VERSION
Due: VERSION changeset

Sat May 28 19:33:40 UTC 2022
  html/index.html
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.24.5
  VERSION
Due: VERSION changeset

Sat May 28 19:35:22 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.24.6
  VERSION
Due: VERSION changeset

Sat May 28 19:44:24 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.24.7
  VERSION
Due: VERSION changeset

Sat May 28 19:58:44 UTC 2022
  html/index.html
  html/lab-access/index.html
  html/objects.inv
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.24.8
  VERSION
Due: VERSION changeset

Sat May 28 20:02:48 UTC 2022
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_hd.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_lg.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_md.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_sm.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_xl.jpg
  html/_static/images/adaptive-apps-PARENT-solutions-illustration-hero_xs.jpg
Due: Increment VERSION, Commit new VERSION

0.24.9
  VERSION
Due: VERSION changeset

Sat May 28 20:41:28 UTC 2022
  html/.buildinfo
  html/_static/js/feedback.js
  html/_static/js/survey-monkey.js
  html/cicd/index.html
  html/cicd/task1.html
  html/cicd/task2.html
  html/cicd/task3.html
  html/deployment/control-plane.html
  html/deployment/helm.html
  html/deployment/index.html
  html/deployment/namespace.html
  html/deployment/resources.html
  html/deployment/running-config.html
  html/genindex.html
  html/index.html
  html/lab-access/index.html
  html/policies/index.html
  html/policies/task1.html
  html/policies/task10.html
  html/policies/task2.html
  html/policies/task3.html
  html/policies/task4.html
  html/policies/task5.html
  html/policies/task6.html
  html/policies/task7.html
  html/policies/task8.html
  html/policies/task9.html
  html/search.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.0
  VERSION
Due: VERSION changeset

Sat May 28 20:46:41 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.1
  VERSION
Due: VERSION changeset

Sat May 28 20:52:38 UTC 2022
  intro.mp4
Due: none

0.25.2
  VERSION
Due: VERSION changeset

updating intro
  intro.mp4
Due: none

Sat May 28 21:01:41 UTC 2022
  html/intro.mp4
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.3
  VERSION
Due: VERSION changeset

0.25.4
  VERSION
Due: VERSION changeset

Sat May 28 21:14:37 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.5
  VERSION
Due: VERSION changeset

Sat May 28 22:45:40 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.6
  VERSION
Due: VERSION changeset

Sat May 28 22:52:01 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION
