Repository robinmordasiewicz/nginx-container: changes, and which Jenkins stages are due for each by the changed paths.
All: html changeset, Jenkinsfile changeset, VERSION changeset, Increment VERSION, Commit new VERSION

html changeset:
        steps {
          sh 'echo "------------- html in the changeset -------------------"'
        }
      

Jenkinsfile changeset:
        steps {
          sh 'echo "------------- Jenkinsfile in the changeset -------------------"'
        }
      

VERSION changeset:
        steps {
          sh 'echo "------------- VERSION in the changeset -------------------"'
        }
      

Increment VERSION:
        steps {
          container('ubuntu') {
            sh 'sh increment-version.sh'
          }
        }
      

Commit new VERSION:
        steps {
          sh 'git config user.email "nginx@example.com"'
          sh 'git config user.name "nginx pipeline"'
          sh 'git add VERSION'
          sh 'git commit -m "`cat VERSION`"'
          withCredentials([gitUsernamePassword(credentialsId: 'github-pat', gitToolName: 'git')]) {
  ...

0.25.7
  VERSION
Due: VERSION changeset

Sat May 28 23:00:52 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.8
  VERSION
Due: VERSION changeset

Sat May 28 23:05:52 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.25.9
  VERSION
Due: VERSION changeset

Sat May 28 23:13:18 UTC 2022
  html/index.html
Due: html changeset, Increment VERSION, Commit new VERSION

0.26.0
  VERSION
Due: VERSION changeset

Sat May 28 23:15:18 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.26.1
  VERSION
Due: VERSION changeset

Sat May 28 23:31:53 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.26.2
  VERSION
Due: VERSION changeset

Sat May 28 23:57:44 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.26.3
  VERSION
Due: VERSION changeset

Sun May 29 00:07:53 UTC 2022
  html/index.html
  html/searchindex.js
Due: html changeset, Increment VERSION, Commit new VERSION

0.26.4
  VERSION
Due: VERSION changeset

Sun May 29 00:12:54 UTC 2022
  html/_static/css/custom.css
Due: Increment VERSION, Commit new VERSION

0.26.5
  VERSION
Due: VERSION changeset

Sun May 29 00:23:02 UTC 2022
  html/intro.mp4
Due: html changeset, Increment VERSION, Commit new VERSION

0.26.6
  VERSION
Due: VERSION changeset

Sun May 29 14:19:52 UTC 2022
  html/intro.mp4
Due: html changeset, Increment VERSION, Commit new VERSION

0.26.7
  VERSION
Due: VERSION changeset

Path conditions:
  html changeset: any of: html/*
  Jenkinsfile changeset: any of: Jenkinsfile
  VERSION changeset: any of: VERSION
  Increment VERSION: (((any of: Dockerfile) or (any of: html/*)) or (any of: html/**)) and (not (any of: VERSION))
  Commit new VERSION: (((any of: Dockerfile) or (any of: html/*)) or (any of: html/**)) and (not (any of: VERSION))
